@import '../../../_variables.scss';

.wrapper{
  padding-bottom: 40px;
  img{
    padding: 3.5rem 0rem 0rem 1rem;
  }
    .links{
      position: relative;
      display: flex;
      justify-content: space-between;
      padding: 3rem 0 2rem;
      color: rgba($color: #fff, $alpha: 0.8);
      font-size: 26px;
      padding-right: 90px;
    }
}